<div ng-include=" 'template/header.html' "></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#/main">首页</a></li>
        <li class="active"><a href="#">详情</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="detail_content">
        <h3>{{ dishDetail.name }}</h3>
        <span></span>
        <div>
          <img class="img-responsive" ng-src="img/{{ dishDetail.img_lg }}" alt="">
        </div>
        <div class="detail_dsp">
          <h4><strong>主要原料：</strong>{{ dishDetail.material }}</h4>

          <p>{{ dishDetail.detail }}</p>
          <span></span>
          <p>￥{{ dishDetail.price }}</p>
        </div>
      </div>
      <div class="detail_btn">
        <button class="btn btn-success" ng-click="jumpToOrder(dishDetail.did)" type="button">我要订餐</button>
        <a class="btn btn-warning" href="#/main">我再看看</a>
      </div>
    </div>
  </div>
</div>
<div ng-include=" 'template/footer.html' "></div>