<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row footPadding">
      <div class="col-xs-4  footLogo">
        <a href="#/start"><span class="glyphicon glyphicon-home"></span></a>
      </div>
      <div class="col-xs-4  footLogo">
        <a href="#/myorder"><span class="glyphicon glyphicon-user"></span></a>
      </div>
      <div class="col-xs-4 footLogo">
        <a href="#"><span class="glyphicon glyphicon-list"></span></a>
      </div>
    </div>
  </div>
</footer>
